@keyframes float{
  0%{
    filter: brightness(300%) saturate(250%);
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    filter: brightness(300%) saturate(250%);
    transform:scale(1);
  }
}
@keyframes brightenandtransform{
  0%{
    filter:brightness(100%) drop-shadow(3px 3px 1px rgba(75, 75, 75, 0));
    transform: scale(1);
  }
  50%{
    filter:brightness(300%) drop-shadow(3px 3px 1px rgb(75, 75, 75));
    transform: scale(1.1);
  }
  100%{
    filter:brightness(100%) drop-shadow(3px 3px 1px rgba(75, 75, 75, 0));
    transform: scale(1);
  }
}
@keyframes flash{
  0%{
    filter:brightness(100%)
  }
  25%{
    filter:brightness(200%)
  }
  50%{
    filter: brightness(400%);
  }
  75%{
    filter: brightness(200%);
  }
  100%{
    filter: brightness(100%);
  }
}
@keyframes color_cycle_shadow{
  0%{
    filter:drop-shadow(0px 0px 10px rgb(255, 136, 0))
  }
  14%{
    filter:drop-shadow(0px 0px 10px red)
  }
  28%{
    filter:drop-shadow(0px 0px 10px yellow)
  }
  42%{
    filter:drop-shadow(0px 0px 10px green)
  }
  56%{
    filter:drop-shadow(0px 0px 10px aqua)
  }
  70%{
    filter:drop-shadow(0px 0px 10px blue)
  }
  84%{
    filter:drop-shadow(0px 0px 10px pink)
  }
  100%{
    filter:drop-shadow(0px 0px 10px red)
  }
}
@keyframes glow{
  0%{
    filter:none;
  }
  50%{
    filter:brightness(200%) drop-shadow(1px 1px 5px rgb(112, 123, 208));
  }
  100%{
    filter:none;
  }
}
@keyframes shine-below{
  from{
    transform:translateY(0)
  }
  to{
    transform:translateY(200px)
    }
  }
}