#coverarea{
  background-color: rgba(128, 128, 128, 0);
  width:100%;
  height:350px;
}
#mypic{
  height:200px;
  border-radius: 100%;
}
#coverdetails{
  text-align: center;
  width:fit-content;
  height:fit-content;
  background-color: rgba(255, 255, 0, 0);
  margin:140px auto 0 auto;
}
.covervideo{
  position:absolute;
  z-index: -1;
  filter:blur(1px) brightness(150%);
  top:0;
  left:0;
  position: fixed;
}
.covericon{
  height:40px;
  margin:0 10px;
  display:inline-block;
}
.covercontact:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.coverhome:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.covergithub:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.coverlinkedin:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.coverweb:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.gradbox{
  height:30px;
  width:100%;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}
.pic_container{
  background-color: rgba(165, 42, 42, 0);
  height: fit-content;
  width:fit-content;
  margin: 0 auto;
}
.myname{
  font-family: 'Tangerine',serif;
  font-size: 75px;
  background-color: rgba(0, 128, 0, 0);
  height:80px;
}
.mybio{
  font-size:40px;
  background-color: rgba(255, 0, 0, 0);
  color:#138c00;
  filter:brightness(200%);
  animation-name: brightenandtransform;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}