/* ID SELECTORS */
#bio{
  font-size:1.5rem;
  /* background-color: brown; */
}
#bgimg{
  background: linear-gradient(to bottom, transparent, transparent, black), url('../images/bg.jpg') center / cover;
  height:420px;
  filter:blur(1.5px) brightness(90%);
}
#coverdetails{
  text-align: center;
  top:310px;
  position: absolute;
  width:100%;
  /* background-color: aqua; */
}
#myname{
  font-size: 2rem;
  color:white;
  /* background-color: black; */
}
#mypic{
  height:180px;
  border-radius:100%;
  position: absolute;
  top:100px;
  left:50%;
  transform:translateX(-50%);
}

/* CLASS SELECTORS */
.covericon{
  height:35px;
  margin:0 10px;
}
.covercontact:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.coverhome:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.covergithub:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.coverlinkedin:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.covermail{
  height:30px;
}
.covermail:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.coverweb:hover{
  filter: brightness(300%) saturate(250%);
  transform: scale(1.1);
}
.navbar-toggler{
  margin:0;
  padding:0;
  position:absolute;
  right:20px;
  top:10px;
}

/* ELEMENT SELECTORS */
