/* MEDIA QURIES */
@media (max-width: 400px){
  #bg{
    height:650px;
  }
  #knowmore{
    top:580px;
  }
  #profilepic{
    height: 150px;
    top: 220px;
  }
  #typingParagraph{
    top:390px;
  }
  #welcomebtn {
    width: 80%;
    height: 80px;
  }
  .myname-box{
    top:400px;
  }
}

@media (min-width:401px){
  #bg{
    height:750px;
  }
  .myname-box{
    top: 470px;
  }
  #knowmore{
    top:610px;
  }
  #profilepic{
    height: 200px;
    top:250px;
  }
  #typingParagraph{
    top:500px;
  }
 #welcomebtn{
    width: 300px;
    height: 150px;
  }
}

/* ID SELECTORS */
#bg{
  width:100%;
  background-color: black;
}
#bgimg{
  height:100%;
  width:100%;
  object-fit: cover;
  transition: all 1s ease;
}
#knowmore{
  left:50%;
  transform: translateX(-50%);
  position:absolute;
  padding:5px;
  transition: all 1s ease;
}
#myname{
  font-family: 'Tangerine', cursive;
  font-size:60px;
}
#profilepic{
  position: absolute;
  border-radius:100%;
  position:absolute;
  transition: all 2s ease;
  left:50%;
  transform: translateX(-50%);
}
#typingParagraph{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  width:75%;
  height:fit-content;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  text-align: justify;
  transition: all 2s ease;
  color:white;
  font-family: 'Montserrat',sans-serif;
  padding:30px;
}
#welcomebtn{
  z-index:+1;
  position: absolute;
  font-size:200%;
  border-radius:20px;
  padding:5px;
  transition: all 1s ease;
}

/* CLASS SELECTORS */
.dim{
  filter: blur(3px) brightness(70%);
}
.ease-out-right{
  right:-200px;
  opacity: 0;
}
.ease-out-left{
  left:-200px;
  opacity: 0;
}
.hide{
  opacity:0;
}
.myname-box{
  color:white;
  font-family: 'Montserrat';
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  height:50px;
  width:90%;
  transition: all 2s ease;
  text-align: center;
}
.visible{
  opacity: 100%;
}
.welcomebtn-translate-to-top{
  top:70px;
  left:50%;
  transform: translateX(-50%) scale(0.7);
  backdrop-filter: blur(5px)brightness(120%);
}
.welcomebtn-middle-pos{
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
/* ELEMENT SELECTORS */
body{
  margin: 0;
}
button{
  font-family: 'Montserrat', sans-serif;
  backdrop-filter:blur(3px);
}
html{
  background-color: black;
}