/*----------------class selectors------------------*/
.programminglogo{
  border: 2px solid #138c00;
  border-radius: 20%;
  margin-left:5px;
  margin-right:5px;
  margin-top:10px;
  height: 60px;
}
.pro_leetcode:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_kaggle:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_newtonschool:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_w3schools:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_codechef:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_hackerrank:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_hackerearth:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_geeksforgeeks:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_stackoverflow:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_codeforces:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_topcoder:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.pro_codingninja:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}