.card{
  background-color: black;
  border: 2px solid white;
  padding:0;
  margin:10px auto;
  display:inline-block;
  width:350px;
}
.card-body{
  text-align: center;
}
.card-title{
  color:#138c00;
  filter:brightness(200%)
}
.card-img-top{
  height:180px;
}
.list-group-item{
  background-color: black;
  color:white;
}