/*------------------Tag selectors------------------*/
a:hover{
  color:red;
}
a{
  color:lightgreen;
  text-decoration: none;
}
body{
  background-color: rgb(0, 0, 0);
  color:#f0f0f0;
  font-family: 'Gabriela', serif;
  margin:0px;
}
h1,h2,h3,th,b{
  color:#138c00;
  filter:brightness(150%)
}
table,th,td{
  border: 1px solid white;
  border-collapse: collapse;
}
ul{
  list-style-type: disc;
}
/*----------------class selectors------------------*/
.bottomlogo{
  height:30px;
  padding:10px;
}
.bottominstagram:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bottomgithub:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bottomlinkedin:hover{
  position:relative;
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.codeblock{
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border-color: #252525;
  border:solid 2px;
  width:max-content;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}
.coverarea{
  width:100%;
  height:400px;
  background-color: rgba(255, 255, 0, 0);
  text-align: center;
}
.covercontents{
  background-color: rgba(0, 100, 0, 0);
  text-align: center;
  height:350px;
  width: max-content;
  display:inline-block;
  margin-top: 140px;
}
.coverdetails{
  width:fit-content;
  height:max-content;
  background-color: rgba(255, 191, 101, 0);
}
.coverlinks{
  background-color: rgba(164, 164, 164, 0);
  font-size: 28px;
  color:white;
  font-size:x-large;
  filter:drop-shadow(3px 3px 1px black);
}
.coverlinkbox{
  background-color: rgba(0, 139, 139, 0);
  width:max-content;
  position:absolute;
  right:20px;
  top:10px;
}
.coverMyPic{
  background-color: rgba(0, 0, 255, 0);
  display:inline-block;
}
.covervideo{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index: -1;
  filter:blur(3px) brightness(200%);
}
.endbox{
  height:100px;
  width:100%;
  background-color:#000000;
}
.gradbox{
  height:155px;
  width:100%;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}
.Myname{
  font-family: 'Tangerine',serif;
  font-size:90px;
  color:white;
  background-color: rgba(255, 0, 0, 0);
  display:inline-block;
  width:fit-content;
  padding:10px 0 0 0;
  margin:0;
  filter:drop-shadow(3px 3px 1px gray)
}
.Mypic{
  border-radius:100%;
  height:200px;
  border:solid 5px;
  border-color:#138c00;
  filter:drop-shadow(0px 0px 120px #138c00);
  /* filter:drop-shadow(3px 3px 10px yellow) */
}
.oneLineBioText{
  margin:0;
  padding:0;
  color:#138c00;
  background-color: rgba(255, 166, 0, 0);
  filter:drop-shadow(3px 3px 1px rgb(75, 75, 75));
  text-align: center;
}
.oneLineBioText:hover{
  animation-name: brighten;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.rating5{
  background-color: #03C988; 
}
.rating4{
  background-color: #72a53c; 
}
.rating3{
  background-color: #5d6c30; 
}
.rating2{
  background-color: #c5ba48; 
}
.rating1{
  background-color: #c46929; 
}
.restOfTheContent{
background-color: rgb(0, 0, 0);
padding:20px;
}
/* Animations */
@keyframes float{
0%{bottom:0px;}
50%{bottom:15px; transform: scale(1.2); filter:brightness(300%)}
100%{bottom:0px; transform: scale(1); filter:brightness(100%)}
}
@keyframes brighten{
  0%{
    filter:brightness(100%) drop-shadow(3px 3px 1px rgba(75, 75, 75, 0));
    transform: scale(1);
  }
  50%{
    filter:brightness(300%) drop-shadow(3px 3px 1px rgb(75, 75, 75));
    transform: scale(1.1);
  }
  100%{
    filter:brightness(100%) drop-shadow(3px 3px 1px rgba(75, 75, 75, 0));
    transform: scale(1);
  }
}

