/* ID selectors */
#education{
  background-color: rgba(0, 255, 255, 0);
}
#skills{
  background-color: rgba(255, 145, 0, 0);
}
#projects{
  background-color: rgba(255, 0, 0, 0);
}
#achievements{
  background-color: rgba(187, 0, 255, 0);
}
#interest{
  background-color: rgba(153, 205, 50, 0);
}
#VAC{
  background-color: rgba(255, 255, 255, 0);
}
#hobbies{
  background-color: rgba(255, 127, 80, 0);
}
#contact{
  background-color: rgba(100, 148, 237, 0);
}

/* CLASS SELECTORS */
.allsections{
  padding:10px;
  background-color: rgba(0, 0, 0, 1);
}
.btn:hover{
  filter: brightness(200%);
}
.centered{
  text-align: center;
}
.challenge{
  color:deepskyblue;
  animation-name:glow;
  animation-duration:1s;
  animation-iteration-count:infinite;
}
.edubox{
  width:460px;
  display:inline-block;
  margin:20px auto;
}
.eduicon{
  height:100px;
  float:left;
  margin:20px 30px 20px 10px;
}
.edutext{
  text-align: left;
}
.link{
  height:20px;
  display:inline;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.nav-link {
  color:white;
}
.navbar-collapse{
  text-align: center;
}
.section{
  height:fit-content;
  width:100%;
  scroll-margin-top: 100px;
}
/* ELEMENT SELECTORS */
a,h1,h2{
  color:#138c00;
  text-decoration: none;
}
a:hover{
  filter: brightness(200%);
}
b{
  color:blueviolet;
}
body{
  background-color: rgb(0, 0, 0);
  color:white;
  font-family: 'Gabriela', serif;
  font-size:18px;
  scroll-behavior: smooth;
}
@media (max-width:400px){
  body{
    font-size:15px;
  }
}
h1,h2{
  filter:brightness(200%)
}
code{
  color:deeppink;
}
