/*------------------Tag selectors------------------*/
a{
  color:lightgreen;
  text-decoration: none;
}
a:hover{
  color:red;
}
body{
  background-color: rgb(0, 0, 0);
  color:#ffffff;
  font-family: 'Gabriela', serif;
  margin:0px;
  font-size: 16px;
}
/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  body {
    font-size: 18px;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 479px) {
  body {
    font-size: 20px;
  }
}
h1,h2,h3,h5,th,b{
  color:#138c00;
  filter:brightness(150%);
}
table,th,td{
  border: 1px solid white;
  border-collapse: collapse;
  padding:5px;
}
thead,tbody{
  text-align:center;
}
ul{
  list-style-type: disc;
}
/*----------------class selectors------------------*/
.bottomlogo{
  height:40px;
  margin: 10px 5px 10px 5px;
}
.codeblock{
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border-color: #252525;
  border:solid 2px;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.coverarea{
  width:100%;
  height:fit-content;
  background-color: rgba(255, 255, 0, 0);
  text-align: center;
}
.covercontents{
  background-color: rgba(0, 100, 0, 0);
  height:fit-content;
  width: max-content;
  display:Inline-block;
  text-align: center;
  margin-top: 30px;
}
.coverdetails{
  width:fit-content;
  height:max-content;
  background-color: rgba(255, 191, 101, 0);
  text-align: center;
}
.covercontact:hover{
  position:relative;
  animation:brighten;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.coverhome:hover{
  position:relative;
  animation:brighten;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.coverweb:hover{
  position:relative;
  animation:brighten;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.coverhome{
  height:40px;
}
.covercontact{
  height:40px;
}
.coverweb{
  position: relative;
  height:37px;
  padding-right: 15px;
}
.coverlogo{
  padding-right:5px;
  position:relative;
  top:3px;
  filter:brightness(200%);
}
.coverMyPic{
  background-color: rgba(0, 0, 255, 0);
  display:inline-block;
}
.covervideo{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index: -1;
  filter: blur(2px) brightness(200%);
}
.gradbox{
  height:30px;
  width:100%;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}
.Myname{
  font-family: 'Tangerine',serif;
  font-size:90px;
  color:white;
  background-color: rgba(255, 0, 0, 0);
  display:inline-block;
  width:fit-content;
  margin:0;
  filter:drop-shadow(3px 3px 1px gray)
}
.Mypic{
  border-radius:100%;
  height:200px;
}
.oneLineBioText{
  margin:0;
  padding:0;
  color:#138c00;
  background-color: rgba(255, 166, 0, 0);
  filter:drop-shadow(3px 3px 1px rgb(75, 75, 75));
  text-align: center;
}
.oneLineBioText:hover{
  animation-name: brightenandtransform;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.revgradbox{
  height:max-content;
  width:100%;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
}
.restOfTheContent{
background-color: rgb(0, 0, 0);
padding:20px;
}
.topbar{
  height: 80px;
  background-image: linear-gradient(to top, transparent, black);
  margin-top:0px;
  padding:0px;
}


